body {
  font-family: "Open Sans", sans-serif;
  color: #1f1f1f;
}

.in-between {
  display: flex;
  flex-direction: row;
}
.in-between:before,
.in-between:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.in-between:before {
  margin-right: 10px;
  color: black;
}
.in-between:after {
  margin-left: 10px;
  color: black;
}

.hero {
  background-image: url("./assets/bgImg.png");
  background-size: cover;
  background-position: center;
  background-attachment: local;
  background-repeat: no-repeat;
  image-rendering: -webkit-optimize-contrast;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f;
  object-fit: cover;
}

.hero-support {
  margin-left: 33rem;
  margin-top: 15rem;
}

.slider-arrow {
  transition: 0.5s;
}

.slider-arrow:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.ellipse-img {
  margin-left: 68rem;
}

.background {
  background: url("../src/assets/bronzeBg.svg");
}

h2 {
  position: relative;
  z-index: 1;
  /* text-align: center; */
  padding-bottom: 30px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: 0;
  width: 50px;
  border-bottom: 10px solid magenta;
}

/* h2:last-of-type {
  top: 100px;
} */

.active {
  color: black;
  background-color: white;
  padding: 2rem -1.2rem;
  border-radius: 2rem;
}

.active img {
  filter: invert(33%) sepia(50%) saturate(1288%) hue-rotate(315deg)
    brightness(85%) contrast(80%);
}
